---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCardPost from "@components/ArrowCardPost";
import { SITE, SOCIALS } from "@consts";
import TwinklingStars from "@components/TwinklingStars.astro";
import MeteorShower from "@components/MeteorShower.astro";
import { Image } from "astro:assets";
import avatar from "../../img/avatar.png";

const posts = (await getCollection("blog"))
	.filter((post) => post.data.published)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 3);
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-black hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div
      id="planetcont"
      class="animate absolute inset-0 top-1/4 overflow-hidden"
    >
      <div
        id="crescent"
        class="absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%"
      >
        <div
          id="planet"
          class="w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center"
        >
          <div
            id="blur"
            class="w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl"
          >
          </div>
        </div>
      </div>
    </div>
    <div
      class="animate absolute h-full w-full flex items-center justify-center"
    >
      <div class="relative w-full h-full flex items-center justify-center">
        <div class="p-5 text-center">
          <div class="flex justify-center items-center">
            <Image src={avatar} alt="Avatar" class="animate-grow" />
          </div>
          <p
            class="animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white pt-4"
          >
            Johannes Konings
          </p>
          <div
            id="ctaButtons"
            class="animated flex flex-wrap gap-4 justify-center mt-5"
          >
            {
              SOCIALS.map((social) => (
                <a
                  href={social.HREF}
                  target="_blank"
                  class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend"
                >
                  {/* <i class={`fab fa-${social.ICON}`}></i> */}
                  <svg class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend">
                    <use href={`/social.svg#${social.ICON}`} />
                  </svg>
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="relative h-screen w-full"> -->
  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">Recent posts</p>
            <a
              href="/blog"
              class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
            >
              <span
                class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend"
              >
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {
              posts.map((post) => (
                <li>
                  <ArrowCardPost entry={post} />
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
