---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";
import { INFO_AWS_SLS_MANAGEMENT_GOVERNANCE } from "@consts";

// Create the static blog pages
export async function getStaticPaths() {
	const issues = await getCollection("infoSlsManagementGovernance");
	return issues.map((issue) => ({
		params: { slug: issue.slug },
		props: issue,
	}));
}

// Get the requested post
type Props = CollectionEntry<"infoSlsManagementGovernance">;
const issue = Astro.props;
const { title, summary } = issue.data;
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={issue} path={INFO_AWS_SLS_MANAGEMENT_GOVERNANCE.PATH} />
    </div>
  </TopLayout>
  <!-- <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={issue} />
    </div>
  </BottomLayout> -->
</PageLayout>
