---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Info from "@components/Info";
import { BLOG, INFO_AWS_SLS_MANAGEMENT_GOVERNANCE } from "@consts";
import imgManagementGovernanceCategoryIcon from "../../../../img/management-governance-category-icon.png";
import { Image } from "astro:assets";

const issues = (await getCollection("infoSlsManagementGovernance"))
	.filter((issue) => issue.data.published)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const tags = [...new Set(issues.flatMap((issue) => issue.data.tags))].sort(
	(a, b) => a.localeCompare(b),
);
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <TopLayout class="animate">
    <div class="animate page-heading">
  <Image src={imgManagementGovernanceCategoryIcon} alt="Management Governance Category Icon" class="mx-auto mt-4" />
  <h1 class="text-4xl font-bold text-center mt-8">Info about AWS Management & Governance (serverless focused)</h1>
  <p class="text-lg text-center mt-4">Get information every Wednesday about topics regarding AWS Management & Governance, including services like CloudWatch and Systems Manager. Covering topics for operations and GRC, all centered around serverless.</p>
<!-- </TopLayout> -->
<div class="rounded-2xl mt-8">
  <div class="mx-auto max-w-[1330px]">
    <div class="max-w-screen-xl px-4 py-6 mx-auto flex items-center justify-center">
      <div class="border border-slate-200 p-12 rounded-md bg-white shadow-md dark:bg-gray-800 dark:border-gray-700">
        <span class="text-2xl font-bold text-gray-700 dark:text-gray-300">Get latest posts delivered right to your inbox</span>

        <form action="https://rssfeedpulse.com/campaign/6dff7de2-0e81-424e-b1a8-4d46fd43c315/subscribe" method="get" class="flex mt-8 gap-4">
          <input name="email" autocomplete="email" type="email" placeholder="Your email" class="p-2 text-gray-700 w-full border border-slate-200 dark:text-gray-300 dark:border-gray-700 dark:bg-gray-900" required>
          <button class="bg-pink-500 font-bold text-xl text-white w-full border border-slate-300 py-2 px-4 hover:bg-pink-600 hover:text-white transition-colors duration-200 ease-in-out rounded-md">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
  <!-- <TopLayout> -->
    <!-- <div class="animate page-heading"> -->
      {INFO_AWS_SLS_MANAGEMENT_GOVERNANCE.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Info client:load tags={tags} data={issues} />
    </div>
  </BottomLayout>
</PageLayout>
